body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

h2{
    margin-top: -10px;
    font-size: 2dvh;
    color: #333;
}

#imageUpload {
    display: none; /* Hide the actual file input */
}

.custom-file-upload {
    background-color: #a0a0a0; 
    color: white; 
    padding: 10px 20px; 
    border: none;
    border-radius: 2px; 
    cursor: pointer; 
    display: inline-block; 
}

.custom-file-upload:hover {
    background-color: #818181; /* Darker green on hover */
}


#asciiOutput {
    margin-top: 20px;
    white-space: pre;
    font-family: monospace;
    background-color: #ffffff;
    padding: 50px;
    border: 1px solid #b0b0b0;
}
